.optionHeader {
    width: 90%;
    border-bottom: rgb(255, 255, 255) solid 1px;
}

.spacing {
    height: 5vh;
}
.newGameArea {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.gameOption {
    display: flex column;
}

.optionText {
    width: auto;
    text-align: center;
}

.smallPlayArea {
    width: 25vh;
}

.smallDarkSquare {
    /* max-width: 21px; */
    width: 3.125vh;
    height: 3.125vh;
    background-color: #7497ad;
    padding-left: 0;
}

.smallLightSquare {
    width: 3.125vh;
    height: 3.125vh;
    background-color: #d9e4e7;
    padding-left: 0;
}

.smallChessPiece {
    height: 3vh;
}

.smallRow {
    display: flex;
    margin-left: .0001vh;
    /* flex-direction: column; */
    width: 25vh;
}