.spacer {
    padding-top: 5vh;
}

/* .darkList {
    background-color: rgb(255,255,255,0.25);
} */

/* .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #d43232 !important;
}

.table-striped > tbody > tr:nth-of-type(even) {
    background-color: #6c1b1b;
} */