.card {
    height: 15vh !important;
    width: 10vh !important;
    background-color: rgb(70, 108, 161) !important;
    margin-top: 1vh;
    display: flex;
    align-items: center;
}

.moveNote  {
    color: white;
    padding-top: 1vh;
    font-size: large;
}

.cardPiece {
    width: 10vh;
}

.selectedCard {
    background-color: rgb(76, 201, 124) !important;
}