.playArea {
    width: 60vh;
    position: absolute;
    /* align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column; */
}

.moveCards {
    position: absolute;
    right: 3vw;
}